<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum unde aliquid aperiam eligendi sunt? Unde
    similique
    doloremque necessitatibus inventore totam at vitae quibusdam maxime iure expedita, sint rerum amet! Culpa.
</p>