<h1 class="animated fadeIn"> {{heroe.nombre | uppercase }} <small> ({{ heroe.aparicion | date:'y'}}) </small></h1>

<div class="row animated fadeIn fast">
    <div class="cold-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
        <br>
    </div>
    <div class="cold-md-8">
        <h3> {{ heroe.nombre }} </h3>
        <hr>
        <p> {{ heroe.bio }} </p>
        <div >
            <img *ngIf="heroe.casa=='Marvel'" class="img-logo" src="assets/img/marvel-logo.png" alt="Marvel">
            <img *ngIf="heroe.casa=='DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="DC">
        </div>
    </div>
</div>